<!DOCTYPE html>
<html lang="fr">

<head>
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
	<link href="CSS/bootstrap4.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="CSS/style.css">
	<link type="text/css" rel="stylesheet" href="CSS/responsive.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Nathan,Altomare,Portfolio,developper, developper web" />
	<meta name="description" content="Portfolio de Nathan ALTOMARE" />
	<meta charset="utf-8">
	<meta property="og:type" content="website" />
	<meta property='og:title' content='Portfolio' />
	<meta property='og:image' content='https://zupimages.net/up/20/30/jzfz.png' />
	<meta property='og:description' content='Portfolio de Nathan Altomare' />
	<meta property='og:url' content='www.nathanhtml.fr' />

	<script src="https://kit.fontawesome.com/1c9c468cda.js" crossorigin="anonymous"></script>
	<script src="./js/vue.min.js"></script>

	<title>Nathan Altomare | Portfolio </title>
</head>

<body>
	<div id="app">
		<header>
			<div class="container">
				<div id="nameAndTitleInTheHeader" class="row">
					<div class="col-md-12">
						<p id="myNameInTheHeader">Nathan Altomare</p>
						<h1>Développeur Web</h1>
					</div>
				</div>

				<input type="checkbox" id="menuCheckbox" name="menuCheckbox">
				<label for="menuCheckbox" class="show-menu-btn">
					<i id="menuCheckboxIcon" class="fas fa-caret-down"></i>
				</label>

				<nav id="navmenu" class="row">

					<menu-nav v-for="item in menunav" v-bind:info="item" v-bind:value="item.id" v-bind:key="item.id"></menu-nav>

					<div class="responsiveOnly">
						<p>Développé avec</p>
						<i class="fab fa-bootstrap"></i><i class="fab fa-vuejs"></i>
					</div>
				</nav>
			</div>
		</header>

		<section class="pre">
			<div class="container">

				<title-section v-for="item in filter(titlesection,7)" v-bind:info="item"></title-section>

				<div class="row d-flex align-items-center">

					<div class="texte col-md-8 col-sm-8">
						<p> {{ presentation }} </p>
					</div>

					<div class="col-md-4 col-sm-4">
						<img id="devPhoto" src="pictures/devPhoto.jpg" alt="Photo du Développeur">
					</div>
				</div>
			</div>
		</section>

		<section class="banner d-flex align-items-center">
			<div class="container">
				<div class="row">

					<div class="col">
						<a href="https://www.linkedin.com/in/nathanaltomare/"><i class="fab fa-linkedin"></i></a>
					</div>

					<div class="col">
						<a href="cvnathanaltomare.pdf" aria-label="CV"><i class="fas fa-file"></i></a>
					</div>

					<div class="col">
						<a href="https://github.com/peluche1275"><i class="fab fa-github"></i></a>
					</div>

				</div>
			</div>
		</section>
		<span id="ancreCompetences"></span>

		<section class="skills">
			<div class="container">

				<title-section v-for="item in filter(titlesection,0)" v-bind:info="item"></title-section>

				<skill v-for="item in skills" v-bind:info="item"></skill>

			</div>
		</section>

		<section class="banner d-flex align-items-center">
			<div class="container">
				<p id="citation">
					"La logique doit être simple pour que les bogues aient du mal à se cacher"
				</p>
				<p id="auteurCitation">
					Bjarne Stroustrup, Inventeur du C++
				</p>
			</div>
		</section>
		<span id="ancreProjets"></span>
		<section id="projects" class="pre">
			<div class="container">

				<title-section v-for="item in filter(titlesection,1)" v-bind:info="item"></title-section>

				<div class="row d-flex align-items-center">
					<div class="titleAndIcons col-md-12 d-flex justify-content-center align-items-center">
						<h3>
							Tic Tac Toe
						</h3>
						<a href="https://github.com/peluche1275/Oxo"><i class="fab fa-github"></i></a>
						<a href="http://tictactoe.nathanhtml.fr/"><i class="fas fa-globe"></i></a>
					</div>

					<div class="col-md-6">
						<p>J'ai réalisé ce projet car je voulais améliorer mon portfolio et travailler sur une IA. </p>

					</div>

					<div class="col-md-6">
						<img class="picturesProjects" src="pictures/1projet6.webp" alt="jv">
					</div>
				</div>

				<div class="row d-flex align-items-center">
					<div class="titleAndIcons col-md-12 d-flex justify-content-center align-items-center">
						<h3>
							Quizz
						</h3>
						<a href="https://github.com/peluche1275/Projet-5"><i class="fab fa-github"></i></a><a
							href="http://projet5.nathanhtml.fr/"><i class="fas fa-globe"></i></a>
					</div>
					<div class="col-md-6">
						<p>Dernier Projet de ma formation où j'utilise la technologie Ajax pour une communication plus
							rapide avec le serveur. Système de pagination. </p>

					</div>
					<div class="col-md-6">
						<img class="picturesProjects" src="pictures/1projet5.webp" alt="jv">
					</div>
				</div>

				<div class="row d-flex align-items-center">
					<div class="titleAndIcons col-md-12 d-flex justify-content-center align-items-center">
						<h3>
							Blog d'écrivain
						</h3>
						<a href="https://github.com/peluche1275/Projet-4"><i class="fab fa-github"></i></a><a
							href="http://jeanforteroche.nathanhtml.fr/"><i class="fas fa-globe"></i></a>
					</div>
					<div class="col-md-6">
						<p>Projet de ma formation où l'on apprends à crée un framework et à l'utiliser. C'est aussi avec
							ce
							projet que j'ai appris l'architecture Modèle Vue Controleur. </p>

					</div>
					<div class="col-md-6">
						<img class="picturesProjects" src="pictures/1projet4.webp" alt="jv">
					</div>
				</div>

				<div class="row d-flex align-items-center">
					<div class="titleAndIcons col-md-12 d-flex justify-content-center align-items-center">
						<h3>
							Location de vélo
						</h3>
						<a href="https://github.com/peluche1275/Projet-3"><i class="fab fa-github"></i></a><a
							href="http://locationvelo.nathanhtml.fr/"><i class="fas fa-globe"></i></a>
					</div>
					<div class="col-md-6">
						<p>C'est le projet où je programme pour la première fois. Projet que j'ai recodé en suivant les
							principes du livre "Clean Code" </p>

					</div>
					<div class="col-md-6">
						<img class="picturesProjects" src="pictures/1projet3.webp" alt="jv">
					</div>
				</div>

				<div class="row d-flex align-items-center">
					<div class="titleAndIcons col-md-12 d-flex justify-content-center align-items-center">
						<h3>
							Tourisme avec WordPress
						</h3>
						<a href="http://ireki.nathanhtml.fr/"><i class="fas fa-globe"></i></a>
					</div>
					<div class="col-md-6">
						<p>Projet réalisé avec le CMS WordPress et du CSS personnalisé. C'est avec ce projet que j'ai
							utilisé les animations CSS </p>

					</div>
					<div class="col-md-6">
						<img class="picturesProjects" src="pictures/1projet2.webp" alt="jv">
					</div>
				</div>

			</div>
		</section>

		<section class="banner cleancode d-flex align-items-center">
			<div class="container">
				<div class="row d-flex align-items-center">
					<div class="col">
						<img class="pictureCleancode" src="pictures/cleancode.webp"
							alt="Coder Proprement de Robert C. Martin">
					</div>
					<div class="col">
						<p>
							ce livre donne énormement de techniques pour avoir un code bien plus propre et bien plus
							lisible.
						</p>
					</div>
				</div>
			</div>
		</section>
		<span id="ancreFormation"></span>

		<section id="formation" class="pre">
			<div class="container">

				<title-section v-for="item in filter(titlesection,2)" v-bind:info="item"></title-section>

				<forma v-for="item in forma" v-bind:info="item"></forma>
			</div>
		</section>

		<banner-code></banner-code>

		<span id="ancreExperiences"></span>

		<section>
			<div class="container">
				<title-section v-for="item in filter(titlesection,3)" v-bind:info="item"></title-section>

				<forma v-for="item in job" v-bind:info="item"></forma>

			</div>
		</section>

		<banner-icon v-for="item in filter(banner,1)" v-bind:info="item"></banner-icon>

		<span id="ancreSoftskills"></span>

		<section class="soft skills">
			<div class="container">

				<title-section v-for="item in filter(titlesection,4)" v-bind:info="item"></title-section>

				<div class="row d-flex align-items-center">
					<div class="col-md-12">
						<h3>
							Problem Solver
						</h3>
					</div>
					<div class="col-md-8">
						<p>J'adore trouver le pourquoi du problème : Pourquoi est ce que cela ne marche pas ? Qu'est ce
							qu'on peut faire pour y remedier ?
							J'aime comprendre le problème et le régler. </p>
					</div>
					<div class="col-md-4">
						<i class="fas fa-exclamation-triangle"></i>
					</div>
				</div>

				<div class="row d-flex align-items-center">
					<div class="col-md-12">
						<h3>
							Stable Mood
						</h3>
					</div>
					<div class="col-md-8">
						<p>Une de mes qualités est que j'ai l'humeur très stable, très sereine. Je suis d'humeur égale
							et ça
							peut importe la situation. </p>
					</div>
					<div class="col-md-4">
						<i class="fas fa-yin-yang"></i>
					</div>
				</div>

				<div class="row d-flex align-items-center">
					<div class="col-md-12">
						<h3>
							Clean Coder
						</h3>
					</div>
					<div class="col-md-8">
						<p>J'aspire à être un bon développeur, être quelqu'un qui code proprement. C'est réellement
							quelques
							choses qui m'importe et qui à de la valeur à mes yeux. </p>
					</div>
					<div class="col-md-4">
						<i class="fas fa-code"></i>
					</div>
				</div>

			</div>
		</section>


		<banner-icon v-for="item in filter(banner,2)" v-bind:info="item"></banner-icon>


		<section id="hobbies">
			<div class="container">

				<title-section v-for="item in filter(titlesection,5)" v-bind:info="item"></title-section>

				<hobbies v-for="item in hobbies" v-bind:info="item"></hobbies>

			</div>
		</section>

		<banner-icon v-for="item in filter(banner,0)" v-bind:info="item"></banner-icon>

		<span id="ancreContact"></span>

		<section class="contact">
			<div class="container">
				<title-section v-for="item in filter(titlesection,6)" v-bind:info="item"></title-section>
				
				<div class="row">
					<div class="col-md-12">
						<a href="mailto:nathanaltomare@outlook.fr">
							<p>nathanaltomare@outlook.fr</p>
						</a>
						<a href="tel:+33611941190">
							<p>06 11 94 11 90</p>
						</a>
						<a href="https://www.linkedin.com/in/nathanaltomare/"><i class="fab fa-linkedin"></i></a>
						<a href="https://github.com/peluche1275"><i class="fab fa-github"></i></a>
					</div>
				</div>

			</div>
		</section>

		<footer>
			Nathan Altomare - Développeur Web
		</footer>
		<script src="./JS/app.js"></script>
	</div>
</body>

</html>