<!DOCTYPE html>
<html lang="fr">

<head>
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap" rel="stylesheet">
	<link href="CSS/bootstrap4.min.css" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="CSS/style.css">
	<link type="text/css" rel="stylesheet" href="CSS/responsive.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Nathan,Altomare,Portfolio,developper, developper web" />
	<meta name="description" content="Portfolio de Nathan ALTOMARE" />
	<meta charset="utf-8">
	<meta property="og:type" content="website" />
	<meta property='og:title' content='Portfolio' />
	<meta property='og:image' content='https://zupimages.net/up/20/30/jzfz.png' />
	<meta property='og:description' content='Portfolio de Nathan Altomare' />
	<meta property='og:url' content='www.nathanhtml.fr' />

	<script src="https://kit.fontawesome.com/1c9c468cda.js" crossorigin="anonymous"></script>
	<script src="./js/vue.min.js"></script>

	<title>Nathan Altomare | Portfolio </title>
</head>

<body>
	<div id="app">
		<header>
			<div class="container">
				<div id="nameAndTitleInTheHeader" class="row">
					<div class="col-md-12">
						<p id="myNameInTheHeader">Nathan Altomare</p>
						<h1>Développeur Web</h1>
					</div>
				</div>
				<div class="row iconMenu">

					<div class="col">
						<a href="https://www.linkedin.com/in/nathanaltomare/"><i class="fab fa-linkedin"></i></a>
					</div>

					<div class="col">
						<a href="cvnathanaltomare.pdf" aria-label="CV"><i class="fas fa-file-download"></i></a>
					</div>

					<div class="col">
						<a href="https://github.com/peluche1275"><i class="fab fa-github"></i></a>
					</div>

				</div>

			</div>
		</header>

		<section class="pre">
			<div class="container">
				<div class="row d-flex align-items-center">

					<div v-html="presentation" class="texte col-md-8 col-sm-8">
						{{ presentation }}
					</div>

					<div class="col-md-4 col-sm-4">
						<img id="devPhoto" src="pictures/devPhoto.webp" alt="Photo du Développeur">
					</div>
				</div>
			</div>
		</section>

		<section class="banner d-flex align-items-center">
			<div class="container">
				<title-section v-for="item in filter(titlesection,1)" v-bind:info="item"></title-section>
			</div>
		</section>

		<span id="ancreProjets"></span>
		<section id="projects" class="pre">
			<div class="container">

				<div class="row">
					<projects-section v-for="item in projects" v-bind:info="item"></projects-section>
				</div>

			</div>
		</section>

		<section class="banner d-flex align-items-center">
			<div class="container">
				<title-section v-for="item in filter(titlesection,2)" v-bind:info="item"></title-section>
			</div>
		</section>


		<span id="ancreContact"></span>

		<section class="contact">
			<div class="container">
				<title-section v-for="item in filter(titlesection,6)" v-bind:info="item"></title-section>

				<div class="row">
					<div class="col-md-12">
						<a href="mailto:nathanaltomare@outlook.fr">
							<p>nathanaltomare@outlook.fr</p>
						</a>
						<a href="tel:+33611941190">
							<p>06 11 94 11 90</p>
						</a>

						<a href="https://www.linkedin.com/in/nathanaltomare/">
							<p>LinkedIn</p>
						</a>

						<a href="https://github.com/peluche1275">
							<p>Github</p>
						</a>
					</div>
				</div>

			</div>
		</section>

		<footer>
			Nathan Altomare - Développeur Web
		</footer>
		<script src="./JS/app.js"></script>
	</div>
</body>

</html>