/* smartphone */

@media only screen and (max-width: 767px) {
    /* HEADER */
    #myNameInTheHeader {
        font-size: 30px;
    }
    h1 {
        font-size: 40px;
    }
    header input, #menuCheckboxIcon {
        display: block;
    }
    header input {
        visibility: hidden;
    }
    nav {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        width: 105%;
        height: 100%;
        top: -100%;
        left: 0px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        transition: 0.7s;
    }
    #menuCheckbox:checked~nav {
        top: 0px;
    }
    /* SECTION */

    .titleQuestion {
        font-size: 20px;
    }
}

/* smartphone en mode portait */

@media only screen and (max-width: 767px) and (orientation: portrait) {
    h1 {
        font-size: 40px;
    }
    header input, #menuCheckboxIcon {
        display: block;
    }
    header input {
        visibility: hidden;
    }
    nav #navmenu {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        width: 105%;
        height: 100%;
        top: -100%;
        left: 0px;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        transition: 0.7s;
    }
    #menuCheckbox:checked~nav {
        top: 0px;
    }

}

/* tablettes et ordinateurs */

@media only screen and (min-width: 768px) {
    /* HEADER */
    #myNameInTheHeader {
        font-size: 60px;
    }
    h1 {
        font-size: 70px;
    }

}

/* écran large */

@media only screen and (min-width: 1281px) {
    #myNameInTheHeader {
        font-size: 100px;
    }
    h1 {
        font-size: 120px;
        margin-bottom: 100px;
    }
    nav {
        border-top: 2px solid #ffffff;
        padding-top: 30px;
    }
}